* {
  box-sizing: border-box;
  font-family: futura;
  font-size: 1rem;
  line-height: 1.5;
}

/* Blau: rgb(47, 70, 137); */
/* Beige: #dfd4c2; */
/* Pink mini: #F196A8 */
/* background-grey: #f1f4f5 */

/* Header Styles */
body {
  margin: 0;
}

.menu-header {
  display: flex;
  justify-content: center;
  color: rgb(47, 70, 137);
  font-size: 1.5rem;
  padding-top: 16px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1rem;
  list-style: none;
}

ul li {
  font-size: 0.8rem;
  color: rgb(47, 70, 137);
}

.welcome {
  position: relative;
  display: flex;
  background-color: #dfd4c2;
  padding: 230px 40px 360px 40px;
  margin-top: 10px;
  width: 100%;
  z-index: 1;
}

.banner-text {
  font-size: 40px;
  text-align: left;
}

h2 {
  font-size: 1rem;
  font-family: futura;
  margin-top: 80px;
  border: 2px solid black;
  border-radius: 50px;
  width: fit-content;
  text-align: center;
  padding: 5px;
  margin: auto;
}

#contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: flex-start;
  background-color: #f1f4f5;
  padding: 80px 20px 80px 20px;
}

figure {
  margin-left: 600px;
}

img {
  display: flex;
  /* justify-content: flex-end; wie kann ich das Bild nach rechts schieben? */
  border-radius: 25px 80px 10px 50px;
  justify-content: flex-end;
  align-items: center;
  height: 20vh;
}

figcaption {
  text-align: center;
  font-size: 18px;
}

.contact-details {
  display: flex;
  font-size: 1rem;
  font-family: futura;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 600px;

  /* warum geht hier Zentrieren nicht? */
}

.skill-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  padding: 0 0 80px 0;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(47, 70, 137);
  color: white;
  border: 2px solid #f196a8;
  height: 40vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

button {
  position: fixed;
  bottom: 200px;
  right: 30px;
  background-color: #f196a8;
  border-radius: 50px;
}

.footer-box {
  display: flex;
  gap: 30px;
  border-top: 2px solid #dfd4c2;
  padding: 50px 0 50px 40px;
  margin-top: 150px;
  color: rgb(47, 70, 137);
  font-family: futura;
  font-size: 1rem;
}
