h2 {
  background-color: var(--main-title-bg);
  color: var(--main-text);
  padding: 8px;
}

.card__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--main-bg);
}

.card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--main-text);
  gap: 20px;
  padding: 0;
}
